* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: peachpuff;

}

body {

}

header {

}

main {

}

.time {
    color: palevioletred;
}

#quiz {
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

h1 {
    
    margin: 10px;
    text-align: center;
    font-size: 24px;

}

#start {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}


button:hover {
     background-color: palevioletred;
   
}

#highscores {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}


#submit {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}


