* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: peachpuff;

}

body {

}

header {

}

.time {

}

#quiz {

}

header h1 {


}

main {

}

button:hover {
     background-color: palevioletred;
}

#submit {

}

